
hg-columns-menu {
    position: relative;
    margin-right: 2px;
    background: $columns-bg;
    $margin: 7px;

    .select-col__func--open:focus,
    .select-col__func--open:active {
        outline: none;
        user-select: none;
        color: $column-focused-function-color;
    }

    > .dropdown-menu  {
        right: 0 !important;
        left: auto !important;
        
        a[href^="#for-function"] {
            display: none;
        }
        
        a[href^="#for-dropdown-menu"] {
            display: block;
        }

        &--for-function {
            a[href^="#for-function"] {
                display: block;
            }
            
            a[href^="#for-dropdown-menu"] {
                display: none;
            }
        }
    }

    .col-container {
        display: flex;
        padding: 0 0 0 $margin;
        border-right: 1px solid $columns-menu-border; 

        &__item {
            padding-left: 0;
            padding-right: 0;
            margin-right: $margin !important;

            &.query-keyword {
                width: auto;
            }
        }
    }

    .gf-form-label.dropdown-toggle {
        margin-right: 0;
    }
}

.gf-form {
    &--column-editor {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;

        .tight-form-func {
            background: transparent;
        }

        .gf-form-label {
            box-sizing: border-box;
        }

        .gf-form-label.pointer {
            padding-right: 0;
            padding-left: 0;  
            outline: none;
            box-shadow: none; 
        }

        .gf-form-input {
            background: transparent;
            margin-left: 0; 
            margin-right: 0;
            text-align: center;
            outline: none;
            box-shadow: none;

            &.ng-invalid {
                color: red;
            }
        }
    }
}

.gf-form-label {
    &--thin {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &--thin-left {
        padding-left: 0.25rem;
    }

    &--thin-right {
        padding-right: 0.25rem;
    }

}