
hg-columns-menu {
    position: relative;
    margin-right: 2px;
    background: $columns-bg;

    > .dropdown-menu  {
        right: 0 !important;
        left: auto !important;
    }

    .hg-container {
        display: flex;
        padding: 0 0 0 5px;
        border-right: 1px solid $columns-menu-border; 

        &__item {
            padding-left: 0;
            padding-right: 0;
            margin-right: 5px !important;
        }
    }

    .gf-form-label.dropdown-toggle {
        margin-right: 0;
    }
}

.gf-form {
    &--column-editor {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;

        .tight-form-func {
            background: transparent;
        }

        .gf-form-label {
            box-sizing: border-box;
        }

        .gf-form-dropdown-typeahead {
            background: transparent;
            margin-right: 0;
            a.gf-form-label {
                padding-right: 0;
                padding-left: 0;  
                outline: none;
                box-shadow: none;  
            }

            &:after {
                display: none;
            }
        }

        .gf-form-input {
            background: transparent;
            margin-left: 0; 
            margin-right: 0;
            text-align: center;
            outline: none;
            box-shadow: none;

            &.ng-invalid {
                color: red;
            }
        }
    }
}

.gf-form-label {
    &--thin {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &--thin-left {
        padding-left: 0.25rem;
    }

    &--thin-right {
        padding-right: 0.25rem;
    }

}