.dropdown-menu {
  background-color: $columns-dropdown-bg;

  & > li > a {
    color: $columns-dropdown-color;
  }

  & > li:hover > a,
  & > li > a:hover {
    background: $columns-dropdown-highlight-bg;
    color: $columns-dropdown-highlight-color;
  }
}

hg-dropdown {
  position: relative;

  & > .dropdown-menu {

    & > li.dropdown-submenu > ul {
      top: auto;
      bottom: 0;
      overflow-y: auto;
      max-height: 300px;
    }
  }
}

.dropdown-menu--custom {
  li.dropdown--separator {
    margin: 5px 0;
    border-top: 1px solid #3a3a3a;
    overflow: hidden;
    a {
      display: none !important;
    }
  }
}


