$columns-bg: #292929;
$columns-menu-border: #2f2f2f;
$column-focused-function-color: #2A85EE;
$column-hover-link-color: #fff;

@import './query-editor.scss';
@import './columns-menu.scss';
@import './dropdown.scss';


