$columns-bg: #f4f5f8;
$columns-menu-border: #f9f9f9;
$column-focused-function-color: #1DE7B5;
$column-hover-link-color: #222;

@import './query-editor.scss';
@import './columns-menu.scss';
@import './dropdown.scss';
