<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" can-collapse="true" has-text-edit-mode="true"
    data-ng-class="{'loading': ctrl.panelCtrl.loading}">

    <div class="editor-part editor-part--row" data-ng-if="ctrl.target.rawQuery">
        <div class="gf-form">
        <input type="text" class="gf-form-input input-medium max-width" data-provide="typeahead"
               data-ng-model="ctrl.target.nsgqlString" spellcheck='false'
               placeholder="SELECT tag FROM tagFacet WHERE id=1"/>
        </div>
    </div>

    <div class="editor-part editor-part--filter" data-ng-if="!ctrl.target.rawQuery">

        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label query-keyword width-7">FROM</label>
            </div>

            <div class="gf-form">
                <a class="gf-form-label pointer" data-toggle="dropdown">
                    <span>{{ ctrl.target.variable }}</span>
                </a>

                <ul class="dropdown-menu" role="menu">
                    <li data-ng-repeat="(key, category) in ctrl.options.categories" class="dropdown-submenu">
                        <a>{{ ::key }}</a>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="item in category | orderBy:'name' ">
                                <a data-ng-click="ctrl.onSelectCategory(item.category, item.name)">{{ ::item.name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="gf-form gf-form--grow">
                <div class="gf-form-label gf-form-label--grow"></div>
            </div>
        </div>

        <div class="gf-form-inline gf-form-inline--columns">
            <div class="gf-form">
                <label class="gf-form-label query-keyword width-7">SELECT</label>
            </div>

            <div class="gf-form gf-form--grow" ng-show="ctrl.target.variable != ctrl.prompts.variable">
                <!--this content depend on panel type (Graph or Table)-->

                <!--GRAPH-->
                <div class="gf-form-inline gf-form--grow" data-ng-if="ctrl.panel.type === 'graph'">
                    <span class="gf-form-label">metric</span>
                    <div class="gf-form gf-form--grow">
                        <div class="gf-form-label gf-form-label--grow"></div>
                    </div>
                </div>
            </div>
        </div>

        <div data-ng-show="ctrl.target.variable != ctrl.prompts.variable">

            <div class="gf-form-inline gf-form-inline--columns">
                <div class="gf-form">
                    <label class="gf-form-label query-keyword width-7">WHERE</label>
                </div>

                <div class="gf-form gf-form--grow">
                    <div class="gf-form-inline gf-form--grow">
                        <div class="gf-form" data-ng-repeat="segment in ctrl.options.segments">
                            <metric-segment data-segment="segment"
                                            data-get-options="ctrl.getTagsOrValues(segment, $index)"
                                            data-on-change="ctrl.tagSegmentUpdated(segment, $index)"></metric-segment>
                        </div>

                        <div class="gf-form gf-form--grow">
                            <div class="gf-form-label gf-form-label--grow"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label query-keyword width-7">ORDER BY</label>
                </div>

                <div class="gf-form">
                    <gf-form-dropdown model="ctrl.target.orderBy"
                        data-label-mode="true"
                        data-get-options="ctrl.getOrderByOptions()"
                        data-on-change="ctrl.execute()">
                    </gf-form-dropdown>


                    <span>{{ctrl.target.orderBy + ' ' +  ctrl.prompts.orderBy}}</span>

                    <a class="gf-form-label"
                        data-ng-if="ctrl.target.orderBy && ctrl.target.orderBy !== ctrl.prompts.orderBy" 
                        data-ng-click="ctrl.onClearOrderBy()"><i class="fa fa-close"></i></a>
                </div>

                <div class="gf-form gf-form--grow">
                    <div class="gf-form-label gf-form-label--grow"></div>
                </div>
            </div>
            
            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label query-keyword width-7">GROUP BY</label>

                    <div class="gf-form-select-wrapper">
                        <select class="gf-form-input gf-size-auto"
                                data-ng-model="ctrl.groupBy.type"
                                data-ng-options="option as option for option in ctrl.groupByFormats"
                                data-ng-change="ctrl.onGroupByTypeChange()"></select>
                    </div>

                </div>
                <div class="gf-form" data-ng-if="ctrl.groupBy.type != ctrl.prompts['groupByType']">
                    <metric-segment-model data-property="ctrl.groupBy.val"
                                          data-get-options="ctrl.getGroupByVariables()"
                                          data-on-change="ctrl.onGroupByChange()"></metric-segment-model>
                </div>
                <div class="gf-form gf-form--grow">
                    <div class="gf-form-label gf-form-label--grow"></div>
                </div>
            </div>

            <div class="gf-form-inline">
                <div class="gf-form">
                    <label class="gf-form-label query-keyword width-7">LIMIT</label>
                </div> 

                <div class="gf-form">
                    <gf-form-dropdown model="ctrl.target.limit"
                        data-lookup-text="true"
                        data-allow-custom="true"
                        data-label-mode="true"
                        data-get-options="ctrl.getLimitOptions()"
                        data-on-change="ctrl.execute()">
                    </gf-form-dropdown>
                </div>

                <div class="gf-form gf-form--grow">
                    <div class="gf-form-label gf-form-label--grow">
                        <i class="fa fa-question-circle"
                           data-bs-tooltip="'Restrict number of time series returned by this query. ' +
                           'Limit is applied after sorting. If this field is empty, result is unrestricted, ' +
                           'however the server may apply its own restriction to avoid sending ' +
                           'thousands of time series to Grafana'" data-placement="bottom"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="border: 1px solid red; margin: 20px 0">
        <pre>{{ ctrl.target }}</pre>
    </div>

    <!--<div style="border: 1px solid red; margin: 20px 0">-->
       <!--<pre> {{  ctrl.options | json}}</pre>-->
    <!--</div>-->

    <!--<test data-prop="ctrl.target.variable"></test>-->


</query-editor-row>
