<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row">
    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label width-8 gf-form-query-letter-cell">
                <span class="gf-form-query-letter-cell-letter">Category</span>
            </label>
            <metric-segment-model property="ctrl.target.category" get-options="ctrl.getCategories()" on-change="ctrl.onChangeInternalCategory()" css-class="width-20"></metric-segment-model>
        </div>
        <div class="gf-form" ng-if="ctrl.target.category !== 'select category' && ctrl.target.category !== '-- clear selection --'">
            <label class="gf-form-label width-8 gf-form-query-letter-cell">
                <span class="gf-form-query-letter-cell-letter">Variable</span>
            </label>
            <metric-segment-model property="ctrl.target.variable" get-options="ctrl.getVariables()" on-change="ctrl.onChangeInternalVariable()" css-class="width-20"></metric-segment-model>
        </div>
    </div>

    <div class="gf-form-inline" ng-if="ctrl.target.variable !== 'select variable' && ctrl.target.variable !== '-- clear selection --' && ctrl.target.category !== 'select category' && ctrl.target.category !== '-- clear selection --'">
        <div class="gf-form">
            <label class="gf-form-label width-8 gf-form-query-letter-cell">
                <span class="gf-form-query-letter-cell-letter">Device</span>
            </label>
            <metric-segment-model property="ctrl.target.device" ng-disabled="true" get-options="ctrl.getDevices()" on-change="ctrl.onChangeInternalDevice()" css-class="width-20"></metric-segment-model>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-8 gf-form-query-letter-cell">
                <span class="gf-form-query-letter-cell-letter">Component</span>
            </label>
            <metric-segment-model property="ctrl.target.component" get-options="ctrl.getComponents()" on-change="ctrl.onChangeInternalComponent()" css-class="width-20"></metric-segment-model>
        </div>
    </div>
    <div class="gf-form-inline" ng-repeat="data in ctrl.target.tagData" ng-if="ctrl.target.variable !== 'select variable' && ctrl.target.variable !== '-- clear selection --' && ctrl.target.category !== 'select category' && ctrl.target.category !== '-- clear selection --'">
            <div class="gf-form">
                <label class="gf-form-label width-8 gf-form-query-letter-cell">
                    <span class="gf-form-query-letter-cell-letter">Tags</span>
                </label>
            </div>
            <div class="gf-form">
                <metric-segment-model property="ctrl.target.tagFacet" get-options="ctrl.getTagsFacet()" on-change="ctrl.onChangeInternalTagFacet($index)" css-class="width-13"></metric-segment-model>
            </div>
            <div class="gf-form">
                <a class="gf-form-label pointer" data-toggle="dropdown" bs-tooltip="'Set Tags Operation'" data-placement="right">
                    <span>{{ctrl.target.tagData[$index].tagOperation}}</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-click="ctrl.tagOperation($index, '==')">==</a></li>
                    <li><a ng-click="ctrl.tagOperation($index, '<>')"><></a></li>
                </ul>
            </div>
            <div class="gf-form">
                <metric-segment-model property="ctrl.target.tagWord" get-options="ctrl.getTagsWord(data)" on-change="ctrl.onChangeInternalTagWord($index)" id="tag-word-{{$index}}" css-class="tag-word width-12"></metric-segment-model>
                <a class="gf-form-label" ng-click="ctrl.tagDataAdd()"> + </a>
                <a class="gf-form-label" ng-click="ctrl.tagDataRemove($index)"> - </a>
            </div>
    </div>
    <a class="gf-form-label width-8" ng-if="ctrl.target.tagData.length < 1" ng-click="ctrl.tagDataAdd()"> + Add new tag</a>

    <div class="gf-form-inline" ng-if="ctrl.target.variable !== 'select variable' && ctrl.target.variable !== '-- clear selection --' && ctrl.target.category !== 'select category' && ctrl.target.category !== '-- clear selection --'" style="margin-top:20px; margin-bottom: 20px">
        <div class="gf-form">
            <label class="gf-form-label width-8 gf-form-query-letter-cell">
                <span class="gf-form-query-letter-cell-letter">Sorting</span>
            </label>
        </div>
        <div class="gf-form">
            <a class="gf-form-label pointer width-13" data-toggle="dropdown" data-placement="right">
                <span>{{ctrl.target.sortByEl}}</span>
            </a>
            <ul class="dropdown-menu">
                <li><a ng-click="ctrl.setSortByEl('select sorting')">-- clear selection --</a></li>
                <li><a ng-click="ctrl.setSortByEl('none')">none</a></li>
                <li><a ng-click="ctrl.setSortByEl('ascending')">ascending</a></li>
                <li><a ng-click="ctrl.setSortByEl('descending')">descending</a></li>
            </ul>
            <span class="gf-form-label">
				<i class="fa fa-question-circle" bs-tooltip="'Sort variables by the value of the last observation group after applying selector function to each group'" data-placement="right"></i>
			</span>
        </div>

        <div class="gf-form">
            <label class="gf-form-label width-6 gf-form-query-letter-cell">
                <span class="gf-form-query-letter-cell-letter">Limit</span>
            </label>
        </div>
        <div class="gf-form">
            <input ng-model="ctrl.target.limit" ng-click="ctrl.temp = ctrl.target.limit; ctrl.target.limit =''" ng-blur="ctrl.setLimit()" type="text" data-provide="typeahead" class="gf-form-input input-medium" spellcheck="false" style="width: 110px; font-size: " placeholder="example: 10">
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-8 gf-form-query-letter-cell">
                <span class="gf-form-query-letter-cell-letter">Selector</span>
            </label>
        </div>
        <div class="gf-form">
            <a class="gf-form-label pointer width-13" data-toggle="dropdown" data-placement="right">
                <span>{{ctrl.target.selector}}</span>
            </a>
            <ul class="dropdown-menu">
                <li><a ng-click="ctrl.setSelector('select selector')">-- clear selection --</a></li>
                <li><a ng-click="ctrl.setSelector('last')">last</a></li>
                <li><a ng-click="ctrl.setSelector('min')">min</a></li>
                <li><a ng-click="ctrl.setSelector('max')">max</a></li>
            </ul>
            <span class="gf-form-label">
				<i class="fa fa-question-circle" bs-tooltip="'Operates on groups of observations creates using &quot;Group by time interval&quot; parameter value'" data-placement="right"></i>
			</span>
        </div>
    </div>


</query-editor-row>
