.generic-datasource-query-row .query-keyword {
  width: 75px;
}

.form-help-expanded td {
    padding: 4px;
}

.form-help-expanded th {
    padding: 4px;
}

.dropdown-menu .separator {
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
}
.dropdown-menu .separator::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px dashed #717171;
}

.gf-form-inline {
    align-items: flex-start;
}
.gf-form-inline.gf-form-inline--columns {
    flex-wrap: nowrap;
    align-items: flex-start;
}
.gf-form-inline.gf-form-inline--columns > .gf-form {
    margin-bottom: 0;
}

.gf-form__select-item {
    margin-right: 2px;
}
.gf-form__select-item .gf-form-label {
    margin-right: 0;
    min-height: 2.6rem;
    padding-right: 5px;
}
.gf-form__select-item .gf-form-label--menu {
    color: #33B5E5;
    padding-left: 5px;
}

.editor-part .dropdown-submenu > .dropdown-menu {
    margin-top: -1px;
}